<app-header></app-header>

<!--Titulo do trabalho-->
<body>
  <div class="conteudo">
    <h2 class="titulo-trabalho">
      Análise sensorial de preparações funcionais desenvolvidas para escolares
      <br />entre 09 e 15 anos, do município de Campinas/SP
    </h2>
    <img
      src="../assets/videoapresentacao.png"
      alt="video"
      class="apresentacao"
    />
    <img src="../assets/vídeooverlay.png" alt="overlay" class="efeito-video" />
    <p class="titulo-video">
      Análise sensorial de preparações funcionais desenvolvidas <br />para
      escolares entre 09 e 15 anos, do município de <br />Campinas/SP
    </p>
    <div class="estudante">
      <img src="../assets/icon-beatriz.png" alt="Perfil Beatriz" class="icon" />
      <h3 class="nome-estudante">Beatriz Christiane Melo</h3>
      <h4 class="universidade">FCA / Universidade Estadual de Campinas</h4>
    </div>
  </div>
  <!-- Downloads e derivados-->
  <div class="downloads">
    <p class="download">Download</p>
    <i class="fa fa-download"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-link"></i>
    <img src="../assets/doi.png" alt="Icone doi" class="doi" />
    <p class="citar-trabalho">COMO CITAR ESSE TRABALHO?</p>
  </div>
  <div class="detalhes-trabalho">
    <p class="detalhes">Detalhes</p>
  </div>
  <div class="instrucoes">
    <p class="instrucao-trabalho">Tipo de Apresentação: <b>Pôster </b><br>
      Eixo temático: <b> Alimentação e saúde <br> (AS) </b><br>
      <br>Palavras-chaves: <b>Alimentos<br> funcionais, 
      alimentação escolar.</b><br>
      <br>
      <b>Autores:</b><br>
      Galileo Galilei¹<br>
      Berta Lange de Morretes²<br>
      Isaac Newton³<br>
      Cesar Lattes¹<br>
      Stephen Hawking⁴<br>
      <br>
      
      ¹Universidade Estadual de Campinas<br>
      ²Universidade de São Paulo<br>
      ³Instituto Nacional de Pesquisas Espaciais<br>
      ⁴Universidade Federal do Rio de Janeiro</p>
  </div>
  <div class="resumo">
    <h3 class="titulo-resumo"> Resumo</h3>
    <p class="conteudo-resumo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget
    cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus<br>
    nisi tellus, ut viverra lorem vestibulum ut.  Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque sollicitudin<br>
    ligula in sapien scelerisque, ac gravida eros vestibulum Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus. Quisque<br>
    sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.  Etiam aliquam dictum nisl, vel aliquet enim accumsan sit ametl accumsant... <b id="ver-mais" (click)="alternarResumo()"> {{ expandido ? 'ver menos' : 'ver mais' }}</b></p>
  </div>
  
</body>
