.ops-topic {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 240px;
  left: 310px;
  color: rgba(237, 120, 57, 1);
}

.nome-topico-um {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 235px;
  left: 310px;
  color: rgba(92, 92, 92, 1);
}

.conteudo-topico-um {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(77, 77, 77, 1);
  margin-top: 270px;
  left: 310px;
  position: relative;
}

.borda-topico-um {
  border: 1px solid rgba(236, 236, 236, 1);
  position: absolute;
  padding: 100px;
  margin-left: 320px;
  left: -50px;
  margin-top: 200px;
  padding-right: 920px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgba(236, 236, 236, 1);
}

.reticencias {
  margin-top: 8px;
  left: 310px;
  position: relative;
  cursor: pointer;
}

.fa-heart {
  margin-top: 5px;
  margin-left: 340px;
  position: absolute;
  border: 1px solid rgba(237, 120, 57, 1);
  background-color: rgba(237, 120, 57, 1);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 2px 2px 2px 2px rgba(236, 236, 236, 1);
}

.um-like {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  margin-top: -22px;
  margin-left: 400px;
  position: relative;
}

.uma-resposta {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 350;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
  margin-top: -33px;
  margin-left: 445px;
}

.respostas {
  display: none !important;
  position: absolute;
}

.nome-resposta-topico-um {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(77, 77, 77, 1);
  margin-top: 10px;
  margin-left: 310px;
  position: absolute;
}

.resposta-topico-um {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(77, 77, 77, 1);
  margin-top: 40px;
  margin-left: 310px;
  position: absolute;
}

.borda-resposta-um{
  border: 1px solid rgba(236, 236, 236, 1);
  border-top: none;
  position: relative;
  padding: 70px;
  padding-left: 101px;
  margin-left: 312px;
  left: -50px;
  margin-top: -2px;
  padding-right: 920px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px rgba(236, 236, 236, 1);

}
