<div class="discussoes">
  <h1 class="titulo-discussoes">Discussões</h1>
  <h3 class="subtitulo-discussoes">Compartilhe suas ideias ou dúvidas com os autores!</h3>
  <img src="../../assets/vectors/icone-mao.png" alt="mão" class="icone-maozinha">
  <img src="../../assets/vectors/icones-q-a.png" alt="Q e A" class="icone-q-a">
  <img src="../../assets/vectors/icones-pessoas.png" alt="Pessoas" class="icone-pessoas">
  <p class="desenvolvimento-cientifico"> Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus <br>questionamentos ou sugestões para o autor!</p>
  <p class='criar-topico'> criar tópico </p>
  <img src="../../assets/icon-mais.png" alt="sinal de mais" class="icon-mais">
</div>